# Dossiers sources originaux (images déjà copiées dans assets/images/)
Analyse des données de ventes mensuelles d'une boutique en ligne/
Analyse des notes d'élèves et statistiques scolaires/
Analyse des ventes avec Power BI/
Analysez_des_données_de_systèmes_éducatifs_ziate_hicham/
Anticipez_les_besoins_en_consommation_de_bâtiments_Ziate_Hicham/
Consolidation et analyse décisionnelle des ventes avec Power Query/
Déployez_un_modèle_dans_le_cloud_Ziate_Hicham/
Segmentez_des_clients_d'un_site_e-commerce_Ziate_Hicham/
Projet prompt engineering_ ZIATE Hicham/
agent recrutement/
application ecole/
Chatbot Droit Marocain/
ux design/
photo/
photo.jfif
